.contact14-contact20 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  overflow: hidden;
  position: relative;
  flex-direction: column;
}
.contact14-max-width {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.contact14-content1 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: auto;
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.contact14-contact-info1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.contact14-content2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.contact14-content3 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: auto;
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.contact14-icon3 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
}
.contact14-contact-info2 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.contact14-content5 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.contact14-content6 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: auto;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.contact14-contact-info3 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.contact14-content7 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.contact14-content8 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: auto;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.contact14-contact-info4 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.contact14-content9 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.contact14-text17 {
  display: inline-block;
  align-self: stretch;
  text-align: center;
}
.contact14-text18 {
  display: inline-block;
  align-self: stretch;
  text-align: center;
}
.contact14-text19 {
  display: inline-block;
  text-align: center;
}
.contact14-text20 {
  display: inline-block;
  text-align: center;
}
.contact14-text21 {
  display: inline-block;
  text-align: center;
}
.contact14-text22 {
  display: inline-block;
  text-align: center;
}
.contact14-text23 {
  display: inline-block;
  align-self: stretch;
  text-align: center;
}
.contact14-text24 {
  display: inline-block;
  text-align: center;
}
.contact14-text25 {
  display: inline-block;
  text-align: center;
}
.contact14-text26 {
  display: inline-block;
  text-align: center;
}
.contact14-text27 {
  display: inline-block;
  align-self: stretch;
  text-align: center;
}
.contact14-text28 {
  display: inline-block;
  text-align: center;
}
@media(max-width: 767px) {
  .contact14-max-width {
    flex-direction: column;
  }
}
